<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center">
        <h4 class="title my-3 ml-4">マイページ編集</h4>
      </div>
      <%= form_with model: @customer, url: customer_path(current_customer), method: :patch do |f| %>
      <table class="table table-list">
        <tr>
          <td><%= f.file_field :profile_image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th class="table-edit-title" style="width: 20%", bgcolor="#BFA595">ユーザーネーム</th>
          <td><%= f.text_field :nickname, autofocus: true %></td>
        </tr>
        <tr>
          <th class="table-edit-title" bgcolor="#BFA595"><%= f.label :birth_date, "生年月日" %></th>
          <td>※生年月日は変更できません</td>
        </tr>
        <tr>
          <th class="table-edit-title" bgcolor="#BFA595"><%= f.label :email, "メールアドレス" %></th>
          <td><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></td>
        </tr>
      </table>
      <%= f.submit "編集内容を保存", class: "btn btn-secondary" %>
        <%= link_to "退会する", confirm_withdrawal_customers_path, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
