<p><%= @customer.last_name %><%= @customer.first_name %>さんのマイページ</p>
<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#section1">投稿済みレシピ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#section2">保存済みレシピ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#section3">プロフィール</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#section4">フォロー/フォロワー</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="section1" class="tab-pane fade show active">
      <table class="table">
  　     <thead class="table-active">
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>レシピ</th>
            <th>コメント数</th>
          </tr>
        </thead>
        <tbody>
    　   <% @recipes.each do |recipe| %>
    　     </tr>
    　       <td class="align-items-center"><%= image_tag recipe.image, size: "250x150", class: "img-fluid" %></td>
            <td class="align-items-center">
              <%= link_to recipe_path(recipe) do %>
                <%= recipe.title %>
              <% end %>
            </td>
            <td class="align-items-center"><%= recipe.description %></td>
            <td><%= link_to "#{recipe.comments.count} コメント", recipe_path(recipe.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div id="section2" class="tab-pane fade">
      <div class="texts-wrapper">
        <div class="contents-title text-center">
          <div class="row">
          <% if @bookmark_list.present? %>
            <% @bookmark_list.each do |recipe| %>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <%= image_tag recipe.image %>
                  <div class="card-body">
                    <p class="card-title"><%= recipe.title %></p>
                  </div>
              </div>
            </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <div id="section3" class="tab-pane fade">
      <div class="container">
        <div class="row">
          <div class="col">
          <div class="d-flex align-items-center">
            <h4 class="my-3 ml-4">登録情報</h4>
            <%= link_to "編集する", edit_customer_path(current_customer), class: "btn btn-outline-secondary ml-4 mb-2" %>
          </div>

          <table class="table table-bordered w-75">
            <tr>
              <td style="width: 20%", class="bg-light">名前</td>
              <td><%= @customer.last_name %> <%= @customer.first_name %></td>
            </tr>
            <tr>
              <td class="bg-light">フリガナ</td>
              <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
            </tr>
            <tr>
              <td class="bg-light">メールアドレス</td>
              <td><%= @customer.email %></td>
            </tr>
            <tr>
              <td class="bg-light">生年月日</td>
              <td><%= @customer.birth_date %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div id="section4" class="tab-pane fade">
      <h4>フォロー</h4>
      <p><%= link_to @customer.followings.count, followings_customer_path %></p>
      <h4>フォロワー</h4>
      <p><%= link_to @customer.followers.count, followers_customer_path %></p>
    </div>
  </div>

</div>






