<div class="container">
  <!-- ユーザーの詳細 -->
  <div class="row">
    <p><%= @customer.last_name %><%= @customer.first_name %>さんのマイページ</p>
  </div>
  <!--<div class="row">-->
  <!--  <p><%#= image_tag @customer.get_profile_image(100,100) %></p>-->
  <!--</div>-->
  <div class="row">
    <h4>フォロー</h4>
    <p><%= link_to @customer.followings.count, followings_customer_path %></p>
  </div>
  <div class="row">
    <h4>フォロワー</h4>
    <p><%= link_to @customer.followers.count, followers_customer_path %></p>
  </div>
  <div class="row">
    <p><%= render "public/relationships/btn", customer: @customer %></p>
</div>

  <div class="row">
    <h2>マイページ</h2>
  </div>

  <div class="row">
    <table class="table">
      <tr>
        <th class="table-active">氏名</th>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <th class="table-active">フリガナ</th>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th class="table-active">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th class="table-active">生年月日</th>
        <td><%= @customer.birth_date %></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <%= link_to '編集する', edit_customer_path(current_customer), class:"btn btn-success my-1 mx-4 px-4" %>
　</div>

　<!-- ユーザーの投稿一覧 -->
　<div class="row">
　  <table class="table">
　    <thead class="table-active">
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>レシピ</th>
        </tr>
      </thead>
      <tbody>
  　   <% @recipes.each do |recipe| %>
  　     </tr>
          <td class="align-items-center">
            <%= link_to recipe_path(recipe) do %>
              <%= recipe.title %>
            <% end %>
          </td>
          <td class="align-items-center"><%= recipe.description %></td>
          <td class="align-items-center"><%= image_tag recipe.image, size: "250x150", class: "img-fluid" %></td>
          <td><%= link_to "#{recipe.comments.count} コメント", recipe_path(recipe.id) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>