<div class="container">

  <div class="search">
    <%= search_form_for @q do |f| %>
    <!--<div class="input-group mb-3">-->
      <!--<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">-->
      <%= f.search_field :title_or_tags_name_cont, placeholder: "料理名・食材で探す" %>
      <!--<div class="input-group-append">-->
        <!--<button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>-->
      <%= f.submit %>
      <!--</div>-->
    <!--</div>-->
    <% end %>
  </div>

  <div class="row">
    <h3 class="mt-5">みんなの残り物レシピ</h3>
      <div class="col-md-6">
        <!--<div class="d-flex">-->
        <!-- タグ一覧 -->
        <!--<%# @tag_list.each do |list| %>-->
        <!--  <i class="fas fa-tag"></i>-->
        <!--  <%#= link_to list.name, search_tag_recipes_path(tag_id: list.id) %>-->
        <!--  (<%#= list.recipes.count %>)-->
        <!--<%# end %>-->
      </div>
      </div>
      <div class="col-md-6">
        <!-- レシピ追加ボタン -->
        <%= link_to "レシピを追加する", new_recipe_path, class: "btn btn-outline-secondary" %>
      </div>
  </div>

  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4  mb-5 mt-5">
        <div class="card">
          <%= image_tag recipe.image, class: "img-fluid" %>
          <div class="card-body text-center">
            <h5 class="card-title">
              <%= image_tag recipe.customer.get_profile_image(80,80) %>
              <%= link_to recipe.title, recipe_path(recipe) %>
            </h5>
            <p class="card-text">
              <%= recipe.bookmarks.count %> 保存
              <%= recipe.comments.count %> コメント
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
