<div class="container">
  <div class="row">
    <p>みんなの残り物レシピ一覧</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- レシピ追加ボタン -->
      <%= link_to "レシピを追加する", new_recipe_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-6">
      <!-- タグ一覧 -->
      <% @tag_list.each do |list| %>
        <i class="fas fa-tag"></i>
        <%= link_to list.name, search_tag_recipes_path(tag_id: list.id) %>
        (<%= list.recipes.count %>)
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <!-- 画像を正しく表示する -->
          <%= image_tag recipe.image, class: "card-img-top", alt: recipe.title %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to recipe.title, recipe_path(recipe) %></h5>
            <p class="card-text"><%= recipe.description %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= recipe.bookmarks.count %> 保存</small>
            <small class="text-muted"><%= link_to "#{recipe.comments.count} コメント", recipe_path(recipe.id) %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
