<div class="container">

  <div class="row">
    <p>記事検索</p>
      <%= search_form_for @q do |f| %>
        <%= f.label :title, "タイトル" %>
        <%= f.search_field :title_cont %>
        <%#= f.search_field :title_or_description_cont, class: 'form-control', placeholder: '検索ワード' %>
        <%# f.search_field :description_cont, placeholder: '記事の内容' %>
        <%= f.submit '検索', class: 'btn btn-primary' %>
      <% end %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>みんなの残り物レシピ</h3>
    </div>
    <div class="col-md-6">
      <!-- レシピ追加ボタン -->
      <%= link_to "レシピを追加する", new_recipe_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <div class="row">
    <!-- タグ一覧 -->
    <% @tag_list.each do |list| %>
      <i class="fas fa-tag"></i>
      <%= link_to list.name, search_tag_recipes_path(tag_id: list.id) %>
      (<%= list.recipes.count %>)
    <% end %>
  </div>

  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="card" style="width: 17rem; margin-bottom: 30px;">
          <%= image_tag recipe.image, class: "card-img-top", alt: recipe.title %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to recipe.title, recipe_path(recipe) %></h5>
            <p class="card-text">
              <%= recipe.bookmarks.count %> 保存
              <%= link_to "#{recipe.comments.count} コメント", recipe_path(recipe.id) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
