<div class="container">

  <%= render 'public/shared/search_form', q: @q %>

  <div class="row mt-5">
    <div class="col-md-4">
      <h3 class="title">みんなの残り物レシピ</h3>
    </div>
        <!--<div class="d-flex">-->
        <!-- タグ一覧 -->
        <!--<%# @tag_list.each do |list| %>-->
        <!--  <i class="fas fa-tag"></i>-->
        <!--  <%#= link_to list.name, search_tag_recipes_path(tag_id: list.id) %>-->
        <!--  (<%#= list.recipes.count %>)-->
        <!--<%# end %>-->
    <div class="col-md-5">
      <%= link_to "レシピ追加", new_recipe_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-3 mb-5 mt-5">
        <div class="card">
          <%= image_tag recipe.image, class: "img-fluid" %>
          <div class="card-body text-center">
            <h5 class="card-title">
              <%= image_tag recipe.customer.get_profile_image(70,70) %>
              <%= link_to recipe.title, recipe_path(recipe) %>
            </h5>
            <p class="card-text">
              <%= recipe.bookmarks.count %> 保存
              <%= recipe.comments.count %> コメント
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
