<style>
  .accordion-content {
      display: none;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card accordion-container">
        <div class="card-body accordion-title js-accordion-title">
          検索から探す
        </div>
        <div class="card-body accordion-content">
          <%= render 'public/shared/search_form', q: @q %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card accordion-container">
        <div class="card-body accordion-title js-accordion-title">
          タグ一覧から探す
        </div>
        <div class="card-body accordion-content">
          <div class="row" id="tagListContainer">
            <% sorted_tags = @tag_list.sort_by { |list| -list.recipes.count } %>
            <% sorted_tags.each_with_index do |list, index| %>
              <div class="col-6 col-sm-4 col-md-3 col-lg-5 tag-item" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; <% if index >= 10 %>display: none;<% end %>">
                <i class="fas fa-tag"></i>
                <%= link_to list.name, search_tag_recipes_path(tag_id: list.id), title: list.name %>
                (<%= list.recipes.count %>)
              </div>
            <% end %>
            <!-- もっと見るボタン -->
            <a href="#" class="show-more-tags">もっと見る</a>
            <!-- 元に戻すボタン -->
            <a href="#" class="show-less-tags" style="display: none;">元に戻す</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const accordionTitles = document.querySelectorAll('.js-accordion-title'); // アコーディオンのタイトル要素を取得
  accordionTitles.forEach(title => {
      title.addEventListener('click', () => {  // タイトル要素がクリックされたときの処理
          const content = title.nextElementSibling; // タイトルの次の要素を取得
          content.style.display = content.style.display === 'block' ? 'none' : 'block'; // コンテンツの表示/非表示を切り替え
      });
  });
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var showMoreTags = document.querySelector('.show-more-tags'); // "もっと見る"ボタンを取得
  var showLessTags = document.querySelector('.show-less-tags'); // "元に戻す"ボタンを取得
  var hiddenTags = document.querySelectorAll('.tag-item:nth-child(n+11)'); // 非表示のタグ要素を取得

  showMoreTags.addEventListener('click', function() { // "もっと見る"ボタンがクリックされたときの処理
    hiddenTags.forEach(function(tag) {
      tag.style.display = 'block'; // 非表示のタグを表示
    });
    showMoreTags.style.display = 'none'; // "もっと見る"ボタンを非表示
    showLessTags.style.display = 'inline'; // "元に戻す"ボタンを表示
  });

  showLessTags.addEventListener('click', function() { // "元に戻す"ボタンがクリックされたときの処理
    hiddenTags.forEach(function(tag) {
      tag.style.display = 'none'; // 非表示のタグを再び非表示
    });
    showMoreTags.style.display = 'inline'; // "もっと見る"ボタンを表示
    showLessTags.style.display = 'none'; // "元に戻す"ボタンを非表示
  });
});
</script>


<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <h3 class="title">みんなの残り物レシピ</h3>
    </div>
    <div class="col-md-5">
      <%= link_to "レシピ追加", new_recipe_path, class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-3 mb-5 mt-5">
        <div class="card h-100">
          <%= image_tag recipe.image, class: "img-fluid" %>
          <div class="card-body text-center">
            <h5 class="card-title">
              <div class="d-flex align-items-center">
                <div>
                  <%= image_tag recipe.customer.get_profile_image(70,70) %>
                </div>
                <div class="ml-2">
                  <%= link_to recipe.title, recipe_path(recipe) %>
                </div>
              </div>
            </h5>
            <p class="card-text">
              <%= recipe.bookmarks.count %> 保存
              <%= recipe.comments.count %> コメント
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="item__paginate">
    <%= paginate @recipes %>
  </div>
</div>