<h2>タグが<%=@tag.name%>の投稿一覧</h2>

  <!--タグリスト-->
  <% @tag_list.each do |list|%>
    <i class="fa-sharp fa-solid fa-tag"></i>
    <%=link_to list.name,search_tag_path(tag_id: list.id) %>
    <%="(#{list.recipes.count})" %>
  <% end %>

  <div class="row">
    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>レシピ</th>
          <th>画像</th>
        </tr>
      </thead>
      <% @recipes.each do |recipe| %>
      <tbody>
        <tr>
          <td class="align-items-center">
            <%= link_to recipe_path(recipe) do %>
              <%= recipe.title %>
            <% end %>
          </td>
          <td class="align-items-center"><%= recipe.description %></td>
          <td class="align-items-center"><%= image_tag recipe.image, size: "250x150", class: "img-fluid" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>