<div class="container">

  <div class="row">
    <div class="col-md-4">
      <%= image_tag @recipe.image, size: "350x250", class: "img-fluid" %>
      <!--タイトル-->
      <h3 class="mb-3 mt-3"><%= @recipe.title %></h3>
      <!--タグ-->
      <% @recipe_tags.each do |tag| %>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name, search_tag_recipes_path(tag_id: tag.id) %>
      <% end %><br>
      <!--ブックマークとコメント数-->
      <div style="display: flex;" class="mt-5">
        <div id="favorite_btn_<%= @recipe.id %>">
          <%= render "public/bookmarks/btn", recipe: @recipe %>
        </div>
        <div id="comment_counter">
         <%= render "public/comments/counter", recipe: @recipe %>
        </div>
      </div>
      <!--投稿者とフォローボタン-->
      <i class="fa-solid fa-circle-user"></i>
      <%= link_to "作った人", customer_path(@recipe.customer) %>
      <div style="display: flex;" class="mt-2">
        <% if @recipe.customer == current_customer %>
          <div class="mr-2">
            <%= link_to '編集する', edit_recipe_path(@recipe), class: "btn btn-outline-secondary ml-4 mb-2" %>
          </div>
          <div>
            <%= link_to '削除する', recipe_path(@recipe), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
          </div>
      　<% end %>
      </div>

    </div>

    <div class="col-md-8">
      食材・分量
      <div class="card mb-4">
        <div class="card-header">
          食材
        </div>
        <div class="card-body">
          <% @recipe.ingredients.each do |ingredient| %>
            <div class="row">
              <div class="col-6">
                 <%= ingredient.name %>
              </div>
              <div class="col-6">
                <strong class="col-3">分量</strong> <%= ingredient.amount %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      手順
      <div class="card-body">
        <% @recipe.procedures.each_with_index do |procedure, index| %>
          <div class="card mb-2">
            <div class="card-header">
              <strong>手順<%= index + 1 %></strong>
            </div>
            <div class="card-body">
              <p><%= procedure.body %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="comment_index">
    <%= render "public/comments/index", recipe: @recipe %>
  </div>

  <%= render "public/comments/form", recipe: @recipe, comment: @comment %>

</div>