<div class="container">

  <div class="row">
    <%= image_tag @recipe.image, size: "250x150", class: "img-fluid" %>
  </div>

  <div class="row">
    <h2><%= @recipe.title %></h2>
  </div>

  <div class="row">
      <p><%= @recipe.description %></p>
  </div>

  <div class="row">
    <!-- タグリスト -->
    <% @recipe_tags.each do |tag| %>
    <i class="fa-sharp fa-solid fa-tag"></i>
      <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
    <% end %>
    <!--ブックマーク表示-->
    <% if @recipe.favorited_by?(current_customer) %>
    <p>
      <%= link_to recipe_bookmarks_path(@recipe), method: :delete do %>
        <i class="fa-solid fa-clipboard"></i><%= @recipe.bookmarks.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to recipe_bookmarks_path(@recipe), method: :post do %>
        <i class="fa-regular fa-clipboard"></i><%= @recipe.bookmarks.count %>
      <% end %>
    </p>
    <% end %>
    <!--フォローボタン-->
    <% if current_customer.following?(@customer) %>
      <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post %>
    <% end %>
  
  </div>

  <div class="row">
    <p><%= link_to '編集する', edit_recipe_path(@recipe), class: "btn btn-custom" %></p>
  </div>

  <div class="row">
    コメント件数：<%= @recipe.comments.count %>
  </div>

  <div class="row">
    <table>
      <tbody>
      <% @recipe.comments.each do |comment| %>
        <tr>
          <td><%= comment.customer.last_name %><%= comment.customer.first_name %></td>
          <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= comment.content %></td>
          <td>
            <% if comment.customer == current_customer %>
              <%= link_to "編集する", edit_recipe_path(@recipe) %>
              <%= link_to "削除", recipe_comment_path(comment.recipe, comment), method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <%= form_with model: [@recipe, @comment] do |f| %>
      <%= f.text_area :content, rows: '1', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>

</div>