<div class="container">

  <div class="row">
    <%= image_tag @recipe.image, size: "250x150", class: "img-fluid" %>
  </div>

  <div class="row">
    <h2><%= @recipe.title %></h2>
  </div>

  <div class="row">
      <p><%= @recipe.description %></p>
  </div>
  
  <div class="row">
    <!-- タグリスト -->
    <% @recipe_tags.each do |tag| %>
    <i class="fa-sharp fa-solid fa-tag"></i>
      <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
    <% end %>
  </div>

  <div class="row">
    <p><%= link_to '編集する', edit_recipe_path(@recipe), class: "btn btn-custom" %></p>
  </div>

</div>