<div class="container">
  <div class="row mt-5">
    <% @timeline.each do |timeline| %>
    <div class="col-md-3 mb-5 mt-5">
      <div class="card h-100">
        <%= image_tag timeline.image, class: "img-fluid" %>
        <div class="card-body text-center">
          <h5 class="card-title">
            <div class="d-flex align-items-center">
              <div>
                <%= image_tag timeline.customer.get_profile_image(70,70) %>
              </div>
              <div class="ml-2">
                <%= link_to timeline.title, recipe_path(timeline) %>
              </div>
            </div>
          </h5>
          <p class="card-text">
            <%= timeline.bookmarks.count %> 保存
            <%= timeline.comments.count %> コメント
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>