<div class="container mt-5">
  <div class="row">

    <div class="col-md-8">
        <%= image_tag('about.jpg', class: "img-fluid") %>
    </div>

    <div class="col-md-4">
      <h2>新規登録</h2>
      <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
        <!--必要な入力フォーム追加-->
        <div class="field">
          <%= f.label :ニックネーム %><br>
          <%= f.text_field :nickname, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :birth_date %><br>
          <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1933, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <div class="actions" style="margin-top: 15px;">
          <%= f.submit "新規登録", class: "btn btn-brown", style: "color: white; background-color: #8B4513;" %>
        </div>
      <% end %>
    </div>

  </div>
</div>