<div class="container">
  <div class="row">

    <div class="col-md-8">
        <%= image_tag('about.jpg', class: "img-fluid") %>
    </div>

    <div class="col-md-4">
      <h2>ログイン</h2>
      <%= form_with model: @customer, url: customer_session_path do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-brown", style: "color: white; background-color: #8B4513;" %>
        </div>
      <% end %>
    </div>

  </div>
</div>