<header class="d-flex flex-column justify-content-center" style="height: 100px;">
  <% if customer_signed_in? %>
    <nav class="nav">
      <li class="nav-item">
        <%= link_to "マイページ", customer_path(current_customer), class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
        <%= link_to "タイムライン", customer_timeline_index_path(current_customer), class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
        <%= link_to "みんなのレシピ", recipes_path, class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-dark" %>
      </li>
    </nav>
  <% elsif admin_signed_in? %>
    <nav class="nav">
      <li class="nav-item">
        <%= link_to "ユーザー一覧", admin_customers_path, class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %>
      </li>
    </nav>
  <% else %>
    <nav class="nav">
      <li class="nav-item">
        <%= link_to "これはなに？", about_homes_path, class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
        <%= link_to 'ゲストログイン', public_guest_sign_in_path, method: :post, class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-dark" %>
      </li>
    </nav>
  <% end %>
</header>