<!DOCTYPE html>
<html>
  <head>
    <title>Nokotter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--style.cssよりも前にFont Awesomeに関する記述-->
    <script src="https://kit.fontawesome.com/fe8aa78a6e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <% if customer_signed_in? %>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <%= link_to "マイページ", customer_path(current_customer) %>
                </li>
                <!--<li class="breadcrumb-item">-->
                <!--  <%#= link_to "タイムライン", followings_customer_path %>-->
                <!--</li>-->
                <li class="breadcrumb-item">
                  <%= link_to "レシピ一覧", recipes_path %>
                </li>
                <li class="breadcrumb-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
                </li>
              </ol>
            </nav>
          <% elsif admin_signed_in? %>
          　<nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <%= link_to "ユーザー一覧", admin_customers_path %>
                </li>
                <li class="breadcrumb-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
              </ol>
            </nav>
          <% else %>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <%= link_to "About", about_homes_path %>
                </li>
                <li class="breadcrumb-item">
                  <%= link_to 'ゲストログイン', public_guest_sign_in_path, method: :post %>
                </li>
                <li class="breadcrumb-item">
                  <%= link_to "新規登録", new_customer_registration_path %>
                </li>
                <li class="breadcrumb-item">
                  <%= link_to "ログイン", new_customer_session_path %>
                </li>
              </ol>
            </nav>
          <% end %>
        </div>
      </div>
    </header>

    <main class="mb-auto">
      <%= flash[:notice] %>
      <%= yield %>
    </main>

    <footer class="mt-auto footer py-3">
      <div class="container-fluid">
        <div class="row">
          <div class="mx-auto">
            <p>残り物なんて、怖くない</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>